<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-3.1.xsd  
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context-3.1.xsd  
            http://www.springframework.org/schema/mvc  
            http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <!-- 配置@Controller处理器 -->
    <mvc:annotation-driven/>

    <!-- 扫描controller -->
    <context:component-scan base-package="lab.io.rush.controller"/>

    <!-- 配置静态资源  配置到ngnix中后用不到了 
    <mvc:resources mapping="/js/**" location="/WEB-INF/js/"/>
    <mvc:resources mapping="/css/**" location="/WEB-INF/css/"/>
	-->
	
    <!-- 配置视图解析器 -->
    <bean
           class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"/>
    </bean>

	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/buy/*" />
			<bean class="lab.io.rush.interceptor.MyInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>

</beans>         